[[stack]]
name = "backrest-media"
tags = ["prod", "media"]
[stack.config]
project_name = "backrest-media"
linked_repo = "Homelab"
run_directory = "docker/backrest-media"
environment = """
MEDIA_LIBRARY_PERSONAL = [[MEDIA_LIBRARY_PERSONAL]]
"""

##

[[stack]]
name = "homepage"
tags = ["prod"]
[stack.config]
project_name = "homepage"
poll_for_updates = true
linked_repo = "Homelab"
run_directory = "docker/homepage"
environment = """
##########
# HOMEPAGE
##########

PUID = 1000 # optional, your user id
PGID = 1000 # optional, your group id
HOMEPAGE_ALLOWED_HOSTS = [[HOMEPAGE_ALLOWED_HOSTS]]  # required, IP/hostname youre listening on

# SETTINGS VARS
HOMEPAGE_VAR_OPENWEATHERMAP_API = [[HOMEPAGE_VAR_OPENWEATHERMAP_API]]

############
# MANAGEMENT
############

# PVE
HOMEPAGE_VAR_PVE_URL = [[HOMEPAGE_VAR_PVE_URL]]
HOMEPAGE_VAR_PVE_USERNAME = [[HOMEPAGE_VAR_PVE_USERNAME]]
HOMEPAGE_VAR_PVE_PASSWORD = [[HOMEPAGE_VAR_PVE_PASSWORD]]

# PBS
HOMEPAGE_VAR_PBS_URL = [[HOMEPAGE_VAR_PBS_URL]]
HOMEPAGE_VAR_PBS_USERNAME = [[HOMEPAGE_VAR_PBS_USERNAME]]
HOMEPAGE_VAR_PBS_PASSWORD = [[HOMEPAGE_VAR_PBS_PASSWORD]]

# UNIFI
HOMEPAGE_VAR_UNIFI_URL = [[HOMEPAGE_VAR_UNIFI_URL]]
HOMEPAGE_VAR_UNIFI_USERNAME = [[HOMEPAGE_VAR_UNIFI_USERNAME]]
HOMEPAGE_VAR_UNIFI_PASSWORD = [[HOMEPAGE_VAR_UNIFI_PASSWORD]]

# KOMODO
HOMEPAGE_VAR_KOMODO_URL = [[HOMEPAGE_VAR_KOMODO_URL]]
HOMEPAGE_VAR_KOMODO_KEY = [[HOMEPAGE_VAR_KOMODO_KEY]]
HOMEPAGE_VAR_KOMODO_SECRET = [[HOMEPAGE_VAR_KOMODO_SECRET]]

######################
# MEDIA-APPS
######################

# KARAKEEP
HOMEPAGE_VAR_KARAKEEP_URL = [[HOMEPAGE_VAR_KARAKEEP_URL]]
HOMEPAGE_VAR_KARAKEEP_KEY = [[HOMEPAGE_VAR_KARAKEEP_KEY]]

# LINKWARDEN
HOMEPAGE_VAR_LINKWARDEN_URL = [[HOMEPAGE_VAR_LINKWARDEN_URL]]
HOMEPAGE_VAR_LINKWARDEN_KEY = [[HOMEPAGE_VAR_LINKWARDEN_KEY]]

# PAPERLESS-NGX
HOMEPAGE_VAR_PAPERLESS_URL = [[HOMEPAGE_VAR_PAPERLESS_URL]]
HOMEPAGE_VAR_PAPERLESS_KEY = [[HOMEPAGE_VAR_PAPERLESS_KEY]]

# IMMICH
HOMEPAGE_VAR_IMMICH_URL = [[HOMEPAGE_VAR_IMMICH_URL]]
HOMEPAGE_VAR_IMMICH_KEY = [[HOMEPAGE_VAR_IMMICH_KEY]]

# MEALIE
HOMEPAGE_VAR_MEALIE_URL = [[HOMEPAGE_VAR_MEALIE_URL]]
HOMEPAGE_VAR_MEALIE_KEY = [[HOMEPAGE_VAR_MEALIE_KEY]]

##########
# ARR-APPS
##########

# QBITTORRENT
HOMEPAGE_VAR_QBITTORRENT_URL = [[HOMEPAGE_VAR_QBITTORRENT_URL]]
HOMEPAGE_VAR_QBITTORRENT_USERNAME = [[HOMEPAGE_VAR_QBITTORRENT_USERNAME]]
HOMEPAGE_VAR_QBITTORRENT_PASSWORD = [[HOMEPAGE_VAR_QBITTORRENT_PASSWORD]]

# NZBGET
HOMEPAGE_VAR_NZBGET_URL = [[HOMEPAGE_VAR_NZBGET_URL]]
HOMEPAGE_VAR_NZBGET_USERNAME = [[HOMEPAGE_VAR_NZBGET_USERNAME]]
HOMEPAGE_VAR_NZBGET_PASSWORD = [[HOMEPAGE_VAR_NZBGET_PASSWORD]]

# PROWLARR
HOMEPAGE_VAR_PROWLARR_URL = [[HOMEPAGE_VAR_PROWLARR_URL]]
HOMEPAGE_VAR_PROWLARR_KEY = [[HOMEPAGE_VAR_PROWLARR_KEY]]

# SONARR
HOMEPAGE_VAR_SONARR_URL = [[HOMEPAGE_VAR_SONARR_URL]]
HOMEPAGE_VAR_SONARR_KEY = [[HOMEPAGE_VAR_SONARR_KEY]]

# RADARR
HOMEPAGE_VAR_RADARR_URL = [[HOMEPAGE_VAR_RADARR_URL]]
HOMEPAGE_VAR_RADARR_KEY = [[HOMEPAGE_VAR_RADARR_KEY]]

# LIDARR
HOMEPAGE_VAR_LIDARR_URL = [[HOMEPAGE_VAR_LIDARR_URL]]
HOMEPAGE_VAR_LIDARR_KEY = [[HOMEPAGE_VAR_LIDARR_KEY]]

# BAZARR
HOMEPAGE_VAR_BAZARR_URL = [[HOMEPAGE_VAR_BAZARR_URL]]
HOMEPAGE_VAR_BAZARR_KEY = [[HOMEPAGE_VAR_BAZARR_KEY]]

# READARR
HOMEPAGE_VAR_READARR_URL = [[HOMEPAGE_VAR_READARR_URL]]
HOMEPAGE_VAR_READARR_KEY = [[HOMEPAGE_VAR_READARR_KEY]]
"""

##

[[stack]]
name = "immich"
tags = ["prod"]
[stack.config]
project_name = "immich"
linked_repo = "Homelab"
run_directory = "docker/immich"
environment = """
  # VARIABLE = value

  # The Immich version to use. You can pin this to a specific version like "v1.71.0"
IMMICH_VERSION = "v1.137.3"

  # Machine learning cache
ML_MODEL_CACHE =

  #Listens for other containers
SERVER_HOST = [[IMMICH_SERVER_HOST]]

  #Authkey for Tailscale VPN access
TS_AUTHKEY = [[IMMICH_TS_AUTHKEY]]

####
# DB
####

DB_DATABASE_NAME = [[IMMICH_DB_DATABASE_NAME]]
DB_USERNAME = [[IMMICH_DB_USERNAME]]

  # Connection secret for postgres. You should change it to a random password
  # Please use only the characters `A-Za-z0-9`, without special characters or spaces

DB_PASSWORD = [[IMMICH_DB_PASSWORD]]


##########################
# Custom storage locations
##########################

# DO NOT CHANGE THE VARIABLE NAMES!!!!!!!!!!!!!!!!!!!!!!!!!!!

  # The location where your uploaded files are stored
UPLOAD_LOCATION = [[IMMICH_UPLOAD_LOCATION]]

ENCODED_VIDEO_LOCATION = [[IMMICH_UPLOAD_LOCATION]]/encoded-video

  # The location where your backups are stored
BACKUP_LOCATION = [[IMMICH_UPLOAD_LOCATION]]/backups

  # The location where your database files are stored
DB_DATA_LOCATION = /mnt/nvme-thin/docker/immich/postgres
  
  # The location where your profiles are stored
PROFILE_LOCATION = /mnt/nvme-thin/docker/immich/profile

  # The location where your thumbnails are stored
THUMB_LOCATION = /mnt/nvme-thin/docker/immich/thumbs
"""

##

[[stack]]
name = "karakeep"
tags = ["prod"]
[stack.config]
project_name = "karakeep"
linked_repo = "Homelab"
run_directory = "docker/karakeep-app"
environment = """
TS_AUTHKEY = [[KARAKEEP_TS_AUTHKEY]]
KARAKEEP_VERSION = release

TS_AUTHKEY = [[KARAKEEP_TS_AUTHKEY]]

MEILI_MASTER_KEY = [[KARAKEEP_MEILI_MASTER_KEY]]

# command to generate these is `openssl rand -base64 36`
NEXTAUTH_SECRET = [[KARAKEEP_NEXTAUTH_SECRET]]
NEXTAUTH_URL = [[KARAKEEP_NEXTAUTH_URL]]

# OPENAI_API_KEY = <key>
"""

##

[[stack]]
name = "linkwarden"
tags = ["prod"]
[stack.config]
project_name = "linkwarden"
linked_repo = "Homelab"
run_directory = "docker/linkwarden"
environment = """
NEXTAUTH_URL = [[LINKWARDEN_NEXTAUTH_URL]]

NEXTAUTH_SECRET = [[LINKWARDEN_NEXTAUTH_SECRET]]

# Manual installation database settings
# Example: DATABASE_URL=postgresql://user:password@localhost:5432/linkwarden
DATABASE_URL =

# Docker installation database settings
POSTGRES_PASSWORD = [[LINKWARDEN_POSTGRES_PASSWORD]]

# MeiliSearch Settings
MEILI_HOST=
MEILI_MASTER_KEY = [[LINKWARDEN_MEILI_MASTER_KEY]]
"""

##

[[repo]]
name = "Homelab"
tags = ["prod"]
[repo.config]
git_account = "dimarcode"
repo = "dimarcode/Homelab"

##

[[resource_sync]]
name = "Homelab-sync"
tags = ["prod"]
[resource_sync.config]
linked_repo = "Homelab"
resource_path = ["komodo.toml"]
managed = true
delete = true
match_tags = ["prod"]