[[server]]
name = "media"
tags = ["prod"]
[server.config]
address = "https://100.87.102.57:8199"
enabled = true

##

[[stack]]
name = "arr-stack"
tags = ["prod", "servarr"]
[stack.config]
project_name = "arr-stack"
linked_repo = "Homelab"
run_directory = "docker/servarr"
environment = """
##########
# Global #
##########
APPDATA = /opt/appdata/servarr  # Where the app's data will be stored (config, etc.), ex.: ${APPDATA}/gluetun:/gluetun
MEDIA_ROOT = /mnt/tank/media/shared  # Where your media will be stored - should be one level above media, torrents, usenet if following Trashguides
PUID = 1000
PGID = 1000
TZ = America/New_York

###########
# Gluetun #
###########
VPN_SERVICE_PROVIDER = [[SERVARR_VPN_SERVICE_PROVIDER]]
VPN_TYPE = [[SERVARR_VPN_TYPE]]
OPENVPN_USER = [[SERVARR_OPENVPN_USER]]
OPENVPN_PASSWORD = [[SERVARR_OPENVPN_PASSWORD]]
SERVER_COUNTRIES = [[SERVARR_SERVER_COUNTRIES]]
QBITTORRENT_WEBUI_PORT = [[SERVARR_QBITTORRENT_WEBUI_PORT]]  # default is 8080 
QBITTORRENT_TORRENTING_PORT = [[SERVARR_QBITTORRENT_TORRENTING_PORT]] # default is 6881 

##########
# Nzbget #
##########
NZBGET_USER = [[SERVARR_NZBGET_USER]]
NZBGET_PASS = [[SERVARR_NZBGET_PASS]]
"""

##

[[stack]]
name = "backrest-ansible"
tags = ["prod"]
[stack.config]
project_name = "backrest-ansible"
linked_repo = "Homelab"
run_directory = "docker/backrest-ansible"
environment = """
  # VARIABLE = value
RCLONE_CONFIG_PATH = [[RCLONE_CONFIG_PATH_ANSIBLE]]
"""

##

[[stack]]
name = "backrest-media"
tags = ["prod", "media"]
[stack.config]
server = "media"
project_name = "backrest-media"
linked_repo = "Homelab"
run_directory = "docker/backrest-media"
environment = """
MEDIA_LIBRARY_PERSONAL = [[MEDIA_LIBRARY_PERSONAL]]
RCLONE_CONFIG_PATH = [[RCLONE_CONFIG_PATH_MEDIA]]
"""

##

[[stack]]
name = "homepage"
tags = ["prod"]
[stack.config]
project_name = "homepage"
poll_for_updates = true
linked_repo = "Homelab"
run_directory = "docker/homepage"
environment = """
##########
# HOMEPAGE
##########

PUID = 1000 # optional, your user id
PGID = 1000 # optional, your group id
HOMEPAGE_ALLOWED_HOSTS = [[HOMEPAGE_ALLOWED_HOSTS]]  # required, IP/hostname youre listening on

# SETTINGS VARS
HOMEPAGE_VAR_OPENWEATHERMAP_API = [[HOMEPAGE_VAR_OPENWEATHERMAP_API]]

############
# MANAGEMENT
############

# PVE
HOMEPAGE_VAR_PVE_URL = [[HOMEPAGE_VAR_PVE_URL]]
HOMEPAGE_VAR_PVE_USERNAME = [[HOMEPAGE_VAR_PVE_USERNAME]]
HOMEPAGE_VAR_PVE_PASSWORD = [[HOMEPAGE_VAR_PVE_PASSWORD]]

# PBS
HOMEPAGE_VAR_PBS_URL = [[HOMEPAGE_VAR_PBS_URL]]
HOMEPAGE_VAR_PBS_USERNAME = [[HOMEPAGE_VAR_PBS_USERNAME]]
HOMEPAGE_VAR_PBS_PASSWORD = [[HOMEPAGE_VAR_PBS_PASSWORD]]

# UNIFI
HOMEPAGE_VAR_UNIFI_URL = [[HOMEPAGE_VAR_UNIFI_URL]]
HOMEPAGE_VAR_UNIFI_USERNAME = [[HOMEPAGE_VAR_UNIFI_USERNAME]]
HOMEPAGE_VAR_UNIFI_PASSWORD = [[HOMEPAGE_VAR_UNIFI_PASSWORD]]

# KOMODO
HOMEPAGE_VAR_KOMODO_URL = [[HOMEPAGE_VAR_KOMODO_URL]]
HOMEPAGE_VAR_KOMODO_KEY = [[HOMEPAGE_VAR_KOMODO_KEY]]
HOMEPAGE_VAR_KOMODO_SECRET = [[HOMEPAGE_VAR_KOMODO_SECRET]]

######################
# MEDIA-APPS
######################

# KARAKEEP
HOMEPAGE_VAR_KARAKEEP_URL = [[HOMEPAGE_VAR_KARAKEEP_URL]]
HOMEPAGE_VAR_KARAKEEP_KEY = [[HOMEPAGE_VAR_KARAKEEP_KEY]]

# LINKWARDEN
HOMEPAGE_VAR_LINKWARDEN_URL = [[HOMEPAGE_VAR_LINKWARDEN_URL]]
HOMEPAGE_VAR_LINKWARDEN_KEY = [[HOMEPAGE_VAR_LINKWARDEN_KEY]]

# PAPERLESS-NGX
HOMEPAGE_VAR_PAPERLESS_URL = [[HOMEPAGE_VAR_PAPERLESS_URL]]
HOMEPAGE_VAR_PAPERLESS_KEY = [[HOMEPAGE_VAR_PAPERLESS_KEY]]

# IMMICH
HOMEPAGE_VAR_IMMICH_URL = [[HOMEPAGE_VAR_IMMICH_URL]]
HOMEPAGE_VAR_IMMICH_KEY = [[HOMEPAGE_VAR_IMMICH_KEY]]

# MEALIE
HOMEPAGE_VAR_MEALIE_URL = [[HOMEPAGE_VAR_MEALIE_URL]]
HOMEPAGE_VAR_MEALIE_KEY = [[HOMEPAGE_VAR_MEALIE_KEY]]

##########
# ARR-APPS
##########

# QBITTORRENT
HOMEPAGE_VAR_QBITTORRENT_URL = [[HOMEPAGE_VAR_QBITTORRENT_URL]]
HOMEPAGE_VAR_QBITTORRENT_USERNAME = [[HOMEPAGE_VAR_QBITTORRENT_USERNAME]]
HOMEPAGE_VAR_QBITTORRENT_PASSWORD = [[HOMEPAGE_VAR_QBITTORRENT_PASSWORD]]

# NZBGET
HOMEPAGE_VAR_NZBGET_URL = [[HOMEPAGE_VAR_NZBGET_URL]]
HOMEPAGE_VAR_NZBGET_USERNAME = [[HOMEPAGE_VAR_NZBGET_USERNAME]]
HOMEPAGE_VAR_NZBGET_PASSWORD = [[HOMEPAGE_VAR_NZBGET_PASSWORD]]

# PROWLARR
HOMEPAGE_VAR_PROWLARR_URL = [[HOMEPAGE_VAR_PROWLARR_URL]]
HOMEPAGE_VAR_PROWLARR_KEY = [[HOMEPAGE_VAR_PROWLARR_KEY]]

# SONARR
HOMEPAGE_VAR_SONARR_URL = [[HOMEPAGE_VAR_SONARR_URL]]
HOMEPAGE_VAR_SONARR_KEY = [[HOMEPAGE_VAR_SONARR_KEY]]

# RADARR
HOMEPAGE_VAR_RADARR_URL = [[HOMEPAGE_VAR_RADARR_URL]]
HOMEPAGE_VAR_RADARR_KEY = [[HOMEPAGE_VAR_RADARR_KEY]]

# LIDARR
HOMEPAGE_VAR_LIDARR_URL = [[HOMEPAGE_VAR_LIDARR_URL]]
HOMEPAGE_VAR_LIDARR_KEY = [[HOMEPAGE_VAR_LIDARR_KEY]]

# BAZARR
HOMEPAGE_VAR_BAZARR_URL = [[HOMEPAGE_VAR_BAZARR_URL]]
HOMEPAGE_VAR_BAZARR_KEY = [[HOMEPAGE_VAR_BAZARR_KEY]]

# READARR
HOMEPAGE_VAR_READARR_URL = [[HOMEPAGE_VAR_READARR_URL]]
HOMEPAGE_VAR_READARR_KEY = [[HOMEPAGE_VAR_READARR_KEY]]
"""

##

[[stack]]
name = "immich"
tags = ["prod"]
[stack.config]
server = "media"
project_name = "immich"
linked_repo = "Homelab"
run_directory = "docker/immich"
environment = """
  # VARIABLE = value

PUID = 1000
PGID = 1000

  # The Immich version to use. You can pin this to a specific version like "v1.71.0"
IMMICH_VERSION = "v1.137.3"

  # Machine learning cache
ML_MODEL_CACHE =

  #Listens for other containers
SERVER_HOST = [[IMMICH_SERVER_HOST]]

  #Authkey for Tailscale VPN access
TS_AUTHKEY = [[IMMICH_TS_AUTHKEY]]

####
# DB
####

DB_DATABASE_NAME = [[IMMICH_DB_DATABASE_NAME]]
DB_USERNAME = [[IMMICH_DB_USERNAME]]

  # Connection secret for postgres. You should change it to a random password
  # Please use only the characters `A-Za-z0-9`, without special characters or spaces

DB_PASSWORD = [[IMMICH_DB_PASSWORD]]


##########################
# Custom storage locations
##########################

# DO NOT CHANGE THE VARIABLE NAMES!!!!!!!!!!!!!!!!!!!!!!!!!!!

# The location where your uploaded files are stored
UPLOAD_LOCATION = [[IMMICH_UPLOAD_LOCATION]]

ENCODED_VIDEO_LOCATION = [[IMMICH_UPLOAD_LOCATION]]/encoded-video

# The location where your backups are stored
BACKUP_LOCATION = [[IMMICH_UPLOAD_LOCATION]]/backups

# The location where your database files are stored
DB_DATA_LOCATION = /opt/appdata/immich/postgres

# The location where your profiles are stored
PROFILE_LOCATION = /opt/appdata/immich/profile

# The location where your thumbnails are stored
THUMB_LOCATION = /opt/appdata/immich/thumbs
"""

##

[[stack]]
name = "jellyfin"
template = true
tags = ["prod"]
[stack.config]
project_name = "jellyfin"
linked_repo = "Homelab"
run_directory = "docker/jellyfin"
environment = """
  # VARIABLE = value
PUID = 1000
PGID = 1000
MEDIA_LIBRARY_SHARED = [[MEDIA_LIBRARY_SHARED]]
TS_AUTHKEY = [[JELLYFIN_TS_AUTHKEY]]

POSTGRES_USER = [[JELLYSTAT_POSTGRES_USER]]
POSTGRES_PASSWORD = [[JELLYSTAT_POSTGRES_PASSWORD]]
POSTGRES_PORT = [[JELLYSTAT_POSTGRES_PORT]]

JWT_SECRET=my-secret-jwt-key # [[ JELLYSTAT_JWT_SECRET ]]
"""

##

[[stack]]
name = "karakeep"
tags = ["prod"]
[stack.config]
server = "media"
project_name = "karakeep"
linked_repo = "Homelab"
run_directory = "docker/karakeep"
environment = """
TS_AUTHKEY = [[KARAKEEP_TS_AUTHKEY]]
KARAKEEP_VERSION = release

TS_AUTHKEY = [[KARAKEEP_TS_AUTHKEY]]

MEILI_MASTER_KEY = [[KARAKEEP_MEILI_MASTER_KEY]]

# command to generate these is `openssl rand -base64 36`
NEXTAUTH_SECRET = [[KARAKEEP_NEXTAUTH_SECRET]]
NEXTAUTH_URL = [[KARAKEEP_NEXTAUTH_URL]]

# OPENAI_API_KEY = <key>
"""

##

[[stack]]
name = "linkwarden"
tags = ["prod"]
[stack.config]
server = "media"
project_name = "linkwarden"
linked_repo = "Homelab"
run_directory = "docker/linkwarden"
environment = """
NEXTAUTH_URL = [[LINKWARDEN_NEXTAUTH_URL]]

NEXTAUTH_SECRET = [[LINKWARDEN_NEXTAUTH_SECRET]]

# Manual installation database settings
# Example: DATABASE_URL=postgresql://user:password@localhost:5432/linkwarden
DATABASE_URL =

# Docker installation database settings
POSTGRES_PASSWORD = [[LINKWARDEN_POSTGRES_PASSWORD]]

# MeiliSearch Settings
MEILI_HOST=
MEILI_MASTER_KEY = [[LINKWARDEN_MEILI_MASTER_KEY]]
"""

##

[[stack]]
name = "mealie"
tags = ["prod"]
[stack.config]
server = "media"
project_name = "mealie"
linked_repo = "Homelab"
run_directory = "docker/mealie"
environment = """
TS_AUTHKEY = [[MEALIE_TS_AUTHKEY]]
PUID = 1000
PGID = 1000
"""

##

[[stack]]
name = "paperless-ngx"
template = true
tags = ["prod"]
[stack.config]
project_name = "paperless-ngx"
linked_repo = "Homelab"
run_directory = "docker/paperless-ngx"
environment = """
  # VARIABLE = value
###############################################################################
# Paperless-ngx settings                                                      #
###############################################################################

# See http://docs.paperless-ngx.com/configuration/ for all available options.

# The UID and GID of the user used to run paperless in the container. Set this
# to your UID and GID on the host so that you have write access to the
# consumption directory.

USERMAP_UID=1000
USERMAP_GID=1000

###########
# DEFAULT #
###########

PAPERLESS_TIME_ZONE = America/New_York
PAPERLESS_OCR_LANGUAGE = eng

# my secret key
PAPERLESS_SECRET_KEY = [[PAPERLESS_SECRET_KEY]]

COMPOSE_PROJECT_NAME = paperless
PUID=1000
PGID=1000

##########
# BROKER #
##########

REDISDATA=

######
# DB #
######

POSTGRES_DATA =
POSTGRES_HOST = paperless-db
POSTGRES_DB = paperless
POSTGRES_USER = paperless
POSTGRES_PASSWORD = [[PAPERLESS_POSTGRES_PASSWORD]]

#############
# WEBSERVER #
#############

PAPERLESS_MEDIA = /opt/appdata/paperless-ngx/media  # where your documents will be stored
PAPERLESS_EXPORT = [[PAPERLESS_EXPORT]]  # where paperless-ngx will export documents to and dump data
PAPERLESS_CONSUME = [[PAPERLESS_CONSUME]]  # where paperless-ngx will automatically upload documents from
"""

##

[[stack]]
name = "syncthing"
tags = ["prod"]
[stack.config]
server = "media"
project_name = "syncthing"
linked_repo = "Homelab"
run_directory = "docker/syncthing"

##

[[stack]]
name = "tsdproxy"
template = true
tags = ["prod"]
[stack.config]
project_name = "tsdproxy"
linked_repo = "Homelab"
run_directory = "docker/tsdproxy"
environment = """
  # VARIABLE = value
TSDPROXY_AUTHKEY = [[TSDPROXY_AUTHKEY]]
"""

##

[[repo]]
name = "Homelab"
tags = ["prod"]
[repo.config]
git_account = "dimarcode"
repo = "dimarcode/Homelab"

##

[[resource_sync]]
name = "Homelab-sync"
tags = ["prod"]
[resource_sync.config]
linked_repo = "Homelab"
resource_path = ["komodo.toml"]
managed = true
delete = true
match_tags = ["prod"]