---
- name: Ping hosts and print a message
  hosts: all
  become: true
  
  tasks:
   - name: Ping my hosts
     ansible.builtin.ping:

   - name: Print message
     ansible.builtin.debug:
       msg: Hello world