ansible==12.1.0
ansible-core==2.19.4
bitwarden_sdk==1.0.0
cffi==2.0.0
cryptography==46.0.3
dateutils==0.6.12
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
pycparser==2.23
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
resolvelib==1.2.1
six==1.17.0
